<p id="notice"><%= notice %></p>

<h1>Ad Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_categories.each do |ad_category| %>
      <tr>
        <td><%= ad_category.name %></td>
        <td><%= link_to 'Show', ad_category %></td>
        <td><%= link_to 'Edit', edit_ad_category_path(ad_category) %></td>
        <td><%= link_to 'Destroy', ad_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad Category', new_ad_category_path %>
